---
avatar: jo.jpg
text_msg: Hi! Whatsapp?
last_msg_time: 00:00
msg_count: 2
---
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Chat messenger</title>
    <link rel="stylesheet" href="../select_chat/slect_chat_stile.css">
  </head>

<div class="chat flex"> 
  <div class="left_box flex"> 
    <div class="profile_settings">  <span class="profile">Профиль</span>
      <img class="polygon" src="/static/icon/Polygon 1.svg">
    </div>
    <div class="search">
      <form class="form" action="" method="post">
        <input class="input" type="text" placeholder="Поиск">
      </form>
    </div> <!-- Поиск -->
    <div class="chat_list">
      <ul class="chat_block">
        <li class="chat_item flex">
            <div class="left_part_chats flex">
              <div class="avatar_pic"><img class="user_avatar" src="/static/img/{{avatar}}" alt="Аватар"> </div>
              <div><h3 class="name descrip"> название чата</h3>
              <p class="text_descr descrip">{{text_message}}</p>
              </div>
            </div>
              <div class="right_part_chats flex">
                  <div class="timer descrip">{{last_msg_time}}</div>
                  <div class="counter descrip">{{msg_count}}</div>
              </div>
          </li>
        <li class="chat_item flex">
          <div class="left_part_chats flex">
            <div class="avatar_pic"><img class="user_avatar" src="/static/img/{{avatar}}" alt="Аватар"> </div>
            <div><h3 class="name descrip"> название чата</h3>
            <p class="text_descr descrip"> {{text_message}}</p>
            </div>
          </div>
            <div class="right_part_chats flex">
                <div class="timer descrip">{{last_msg_time}}</div>
                <div class="counter descrip">{{msg_count}}</div>
            </div></li>
        <li class="chat_item"></li>
        <li class="chat_item"></li>
        <li class="chat_item"></li>
        <li class="chat_item"></li>
        <li class="chat_item"></li>
        <li class="chat_item"></li>
        <li class="chat_item"></li>
        <li class="chat_item"></li>
      </ul>

    </div>
  </div>



  <div class="right_box"> 
    <p>Выберите чат чтобы отправить сообщение</p>

  </div>
</div>
</html>
