<li class="{{className}}">
  <div class="left_part_chats flex">
    <div class="avatar_pic"><img class="user_avatar" src="{{userAvatar}}" alt="Аватар"> </div>
    <div>
      <h3 class="name descrip">{{chatName}}</h3>
      <p class="text_descr descrip">{{textMsg}}</p>
    </div>
  </div>
  <div class="right_part_chats flex">
    <div class="timer descrip">{{lastMsgTime}}</div>
    <div class="counter descrip">{{msgCount}}</div>
  </div>
</li>
