  <div class="chat flex">
    <div class="left_box flex">
      <div class="profile_settings profile">
        {{{linkToProfile}}}
        <img class="polygon" src="../../../static/icon/Polygon 1.svg">
      </div>
      <div class="search">
        <form action="" method="post">
          {{{inputSearch}}}
        </form>
      </div> <!-- Поиск -->
      <div class="chat_list">
        <ul class="chat_block">
          {{{chatList}}}
        </ul>

      </div>
      {{{addChatBtn}}}
    </div>

    <div class="right_box_chat">

      <div class="head flex">
        <div class="head_chatName">
          <div class="avatar_pic"><img class="user_avatar" src="{{userAvatar}}" alt="Аватар"> </div>
          <div>
            <h3 class="name descrip">{{chatName}}</h3>
          </div>
        </div>

        <div class="chat_settings"> <img class="" src="../../../static/icon/add_delated.svg" alt="Настройки чата"></div>
      </div>
      <div class="chats">
           {{{messages}}}
        {{!-- </div> --}}
      </div>

      <div class="foot_chat">
        <form id="message_chat">
          <div>
            {{{inputMess}}}
          </div>
          <div>
            {{{sendBtn}}}
          </div>
        </form>
      </div>
    </div>
  </div>

