  <div class="chat flex">
    <div class="left_box flex">
      <div class="profile_settings profile">
        {{{linkToProfile}}}
      </div>
      <div class="search">
        <form action="" method="post">
          {{{inputSearch}}}
        </form>
      </div> <!-- Поиск -->
      <div class="chat_list">
        <ul class="chat_block">
          {{{chatList}}}
        </ul>

      </div>
      {{{addChatBtn}}}
    </div>

    <div class="right_box_chat">

      {{{header}}}
      <div class="chats">
           {{{messages}}}
        {{!-- </div> --}}
      </div>

      <div class="foot_chat">
        <form id="message_chat">
          <div>
            {{{inputMess}}}
          </div>
          <div>
            {{{sendBtn}}}
          </div>
        </form>
      </div>
    </div>
  </div>

