<div>
  <div class="return">
    <div class="return_img">
      {{{back}}}
    </div>
  </div>
  <div class="card">
    <div class="card__title">

      <form class="form_pass" action="/">
        <div class="prof">
          <div class="avatar">
            <img class="user_avat" src="../../../static/img/ivan.jpg" alt="аватар">
          </div>
          <div id="changeAvatarBlock" style="display: none;">
            <label for="avatar" style="cursor: pointer;">
              <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-camera-fill" viewBox="0 0 16 16">
                <path d="M10.5 8.5a2.5 2.5 0 1 1-5 0 2.5 2.5 0 0 1 5 0z"/>
                <path d="M2 4a2 2 0 0 0-2 2v6a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V6a2 2 0 0 0-2-2h-1.172a2 2 0 0 1-1.414-.586l-.828-.828A2 2 0 0 0 9.172 2H6.828a2 2 0 0 0-1.414.586l-.828.828A2 2 0 0 1 3.172 4H2zm.5 2a.5.5 0 1 1 0-1 .5.5 0 0 1 0 1zm9 2.5a3.5 3.5 0 1 1-7 0 3.5 3.5 0 0 1 7 0z"/>
              </svg>
              <input id="avatar" name="avatar" accept="image/*" type="file"/>
              <br/>
              <span id="imageName"></span>
            </label>
          </div>
          <p class="profile_name">Профиль</p>
          <div class="profile_form">
            <span>Имя в чате</span>
            {{{userName}}}
          </div>

          <div class="profile_form">
            <span>Почта</span>
            {{{userEmail}}}
            <span class="error_pass" id="error_email"></span>
          </div>

          <div class="profile_form">
            <span>Логин</span>
            {{{userLogin}}}
          </div>

          <div class="profile_form">
            <span>Имя</span>
            {{{userFirstName}}}
          </div>

          <div class="profile_form">
            <span>Фамилия</span>
            {{{userSecondName}}}
          </div>

          <div class="profile_form">
            <span>Телефон</span>
            {{{userPhone}}}
            <span class="error_pass" id="error_phone"></span>
          </div>
        </div>
        <div id="save_btn" style="display: none;">
          {{{saveChange}}}
          {{{saveAvatar}}}
        </div>
        <div class=" bottom_link flex">
          <div>
            {{{change_data}}}
          </div>
          <div class="pass">
            {{{change_password}}}
          </div>
          <div class="out">
            {{{out}}}
          </div>
        </div>
      </form>
    </div>
  </div>
</div>

