<div>
  <div class="return">
    <div class="return_img">
      {{{back}}}
    </div>
  </div>
  <div class="card">
    <div class="card__title">

      <form class="form_pass" action="/">
        <div class="prof">
          <div class="avatar">
            <img class="user_avat" src="../../../static/img/ivan.jpg" alt="аватар">
          </div>
          <p class="profile_name">Профиль</p>
          <div class="profile_form">
            <span>Имя в чате</span>
            {{{userName}}}
          </div>

          <div class="profile_form">
            <span>Почта</span>
            {{{userEmail}}}
            <span class="error_pass" id="error_email"></span>
          </div>

          <div class="profile_form">
            <span>Логин</span>
            {{{userLogin}}}
          </div>

          <div class="profile_form">
            <span>Имя</span>
            {{{userFirstName}}}
          </div>

          <div class="profile_form">
            <span>Фамилия</span>
            {{{userSecondName}}}
          </div>

          <div class="profile_form">
            <span>Телефон</span>
            {{{userPhone}}}
            <span class="error_pass" id="error_phone"></span>
          </div>
        </div>
        <div class="btn_pass">
          {{{saveChange}}}
        </div>
        <div class="bottom_link flex">
          <div>
            {{{change_data}}}
          </div>
          <div class="pass">
            {{{change_password}}}
          </div>
          <div class="out">
            {{{out}}}
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
