<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Chat messenger</title>
  <link rel="stylesheet" href="./sign_up.scss">
</head>


<body class="flex">

  <form class="form" action="" method="post">
    <h1 class="reg">Регистрация</h1>
    <label class="descr"> Почта {{{input_email}}} {{!--<input class="input_reg" type="email">--}}</label>
    <label class="descr"> Логин {{{input_login}}}{{!--<input class="input_reg" type="text">--}}</label>
    <label class="descr"> Имя {{{input_name}}}{{!--<input class="input_reg" type="text">--}}</label>
    <label class="descr"> Фамилия {{{input_surname}}} {{!--<input class="input_reg" type="text">--}}</label>
    <label class="descr"> Телефон {{{input_phone}}}{{!--<input class="input_reg" type="tel">--}}</label>
    <label class="descr">Пароль {{{input_password}}}{{!--<input class="input_reg" type="password">--}}</label>
    <label class="descr">Пароль (ещё раз) {{{input_password}}}{{!--<input class="input_reg" type="password">--}}</label>

    <div class="btn_reg">
      {{{button}}}
      {{!-- <button class="btn" type="submit">Зарегистрироваться</button> --}}
    </div>
    <div class="enter">
      <a href="../chat/chat.hbs"> <span class="enter_link"> Войти</span></a>
    </div>
  </form>


</body>

</html>
