  <div>
  <div class="return">
    <div class="return_img">
      {{{back}}}
    </div>
  </div>
  <div class="card">
    <div class="card__title">

  <div class="card">
    <div class="card__title">

      <form class="form_pass" action="/">
        <div class="prof">
          <div class="avatar">
            <img class="user_avat" src="../../../static/img/ivan.jpg" alt="аватар">
          </div>
          <p class="profile_name">Профиль</p>
          <div class="profile_form">
            <span>Старый пароль</span>
              {{{password}}}
          </div>

          <div class="profile_form">
            <span>Новый пароль</span>
              {{{newPassword}}}
              <span class="error_pass" id="error_newPassword"></span>
          </div>

          <div class="profile_form">
            <span>Повторите новый пароль</span>
            <span class="error_pass" id="error_newPassword2"></span>
              {{{newPassword2}}}

          </div>

        </div>
        <div class="bottom_link">
          <div>
            {{{save}}}
          </div>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
